@import url(/estilos/lista.css);
@import url(/estilos/pagamento.css);
@import url(/estilos/lista.css);
@import url(/estilos/rodape.css);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #005800d5;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 4em;
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.sucos {
    padding: 50px 20px;
    text-align: center;
}

.sucos h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #246500;
    font-family: 'Times New Roman', Times, serif;
}

.sucos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.limao {
    background-color: hsla(120, 71%, 59%, 0.5);
}
.laranja {
    background-color: hsla(36, 100%, 50%, 0.3);
}
.abacaxi {
    background-color: hsla(56, 89%, 63%, 0.5);
}
.uva {
    background-color: hsla(276, 94%, 69%, 0.5);
}

.suco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.567);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
}

.suco:hover {
    transform: translateY(-10px);
}

img {
    width: 100px;
    height: 100px;
   
}

.suco h3 {
    font-size: 1.5em;
    margin: 10px 0;
   
}

button {
    background-color: #338a003b;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6161615d;
}

footer {
    background-color: #000000;
    color: #fafafa;
    text-align: center;
    
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s;
        width: 200px;
        text-align: center;
}




     .container { 
        background-color: white; 
        padding: 20px; 
        border-radius: 8px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         text-align: center; } 

         

        .quantity-selector { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
        } 

        .quantity-selector input[type="number"]
         { width: 60px; padding: 5px; 
            text-align: center;
             border: 1px solid #000000;
              border-radius: 4px; 
            }

             .quantity-selector button {
                 padding: 5px 10px; 
                 margin: 0 5px; 
                 border: none; 
                 border-radius: 4px; 
                 background-color: #338a003b; 
                 color: white; cursor: pointer;
                 } 
                 
                 .quantity-selector button:hover { 
                    background-color: #6161615d; }

                    .quantity-selector {
                        display: flex;
                        align-items: center;
                    }
                    .quantity-selector button {
                        width: 30px;
                        height: 30px;
                        font-size: 20px;
                        cursor: pointer;
                    }
                    .quantity-selector input {
                        width: 50px;
                        text-align: center;
                        font-size: 20px;
                        margin: 0 10px;
                    }

                 
                    .quantity-selector2 button {
                        padding: 5px 10px; 
                        margin: 0 5px; 
                        border: none; 
                        border-radius: 4px; 
                        background-color: rgba(1, 116, 39, 0.925); 
                        color: white; cursor: pointer;
                        } 
                        
                        .quantity-selector2 button:hover { 
                           background-color: #00b300; }
       
                           .quantity-selector2 {
                               display: flex;
                               align-items: center;
                           }
                           .quantity-selector2 button {
                               width: 30px;
                               height: 30px;
                               font-size: 20px;
                               cursor: pointer;
                           }
                           .quantity-selector2 input {
                               width: 50px;
                               text-align: center;
                               font-size: 20px;
                               margin: 0 10px;
                           }
                           
.botao{
    width: 150px;
    background-color: rgba(1, 116, 39, 0.925);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;

}
a {
    color: inherit; /* Usa a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
}
.compras table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 10px;
}
.compras th, .compras td {
    border: 1px solid #ddd;
    padding: 8px;
}
.compras th {
    background-color: #d2f5c8;
    text-align: left;
}
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttons-container button, .buttons-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d2f5c8;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}
.buttons-container button:hover, .buttons-container a:hover {
    background-color: #66e26c;
}
.linha_2{
    font-size: 25px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
                           
       