@import url(/estilos/lista.css);
@import url(/estilos/pagamento.css);
@import url(/estilos/lista.css);
@import url(/estilos/rodape.css);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #005800d5;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 4em;
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.sucos {
    padding: 50px 20px;
    text-align: center;
}

.sucos h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #246500;
    font-family: 'Times New Roman', Times, serif;
}

.sucos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.suco-limao {
    background-color: hsla(120, 71%, 59%, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.452);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
    text-align: center;
}
.suco-laranja {
    background-color: hsla(36, 100%, 50%, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.567);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
    text-align: center;
}
.suco-abacaxi {
    background-color: hsla(56, 89%, 63%, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
    text-align: center;
}
.suco-uva {
    background-color: hsla(276, 94%, 69%, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.469);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
    text-align: center;

}

.suco:hover {
    transform: translateY(-10px);
}

img {
    width: 100px;
    height: 100px;
   
}

.suco h3 {
    font-size: 1.5em;
    margin: 10px 0;
   
}

button {
    background-color: #338a003b;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6161615d;
}

footer {
    background-color: #000000;
    color: #fafafa;
    text-align: center;
    
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s;
        width: 200px;
        text-align: center;
}

.rgb-uva{
    animation:rainbowText 2s infinite;
}
@keyframes rainbowText{
  0% { color: rgb(169, 0, 195); }
    20% { color: rgb(204, 117, 255); }
    40% { color: rgb(172, 77, 175); }
    60% { color: rgb(207, 78, 243); }
    80% { color: rgb(216, 0, 216); }
    100% { color: rgb(226, 1, 207); }
} 
.rgb-abacaxi{
    animation:animation 2s infinite;
}
@keyframes animation{
  0% { color: rgb(233, 229, 8); }
    20% { color: rgb(224, 210, 10); }
    40% { color: rgb(216, 202, 0); }
    60% { color: rgb(212, 198, 0); }
    80% { color: rgb(228, 224, 0); }
    100% { color: rgb(255, 226, 61); }
} 
.rgb-laranja{
    animation:animation2 2s infinite;
}
@keyframes animation2{
  0% { color: rgb(218, 163, 0); }
    20% { color: rgb(255, 166, 0); }
    40% { color: rgb(255, 196, 1); }
    60% { color: rgb(255, 174, 0); }
    80% { color: rgb(255, 166, 0); }
    100% { color: rgb(255, 136, 0); }
} 
.rgb-limao{
    animation:animation3 2s infinite;
}
@keyframes animation3{
  0% { color: rgb(61, 192, 0); }
    20% { color: rgb(7, 214, 0); }
    40% { color: rgb(28, 218, 53); }
    60% { color: rgb(78, 231, 40); }
    80% { color: rgb(130, 231, 34); }
    100% { color: rgb(38, 194, 7); }
} 

.Frutopia{
    animation:rainbowText4 3s infinite;
}
@keyframes rainbowText4{
  0% { color: rgb(209, 255, 3); }
    20% { color: rgb(162, 255, 0); }
    40% { color: rgb(0, 255, 34); }
    60% { color: rgb(40, 255, 11); }
    80% { color: rgb(229, 255, 0); }
    100% { color: rgb(174, 255, 0); }
} 


     .container { 
        background-color: white; 
        padding: 20px; 
        border-radius: 8px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         text-align: center; } 

         

        .quantity-selector { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
        } 

        .quantity-selector input[type="number"]
         { width: 60px; padding: 5px; 
            text-align: center;
             border: 1px solid #000000;
              border-radius: 4px; 
            }

             .quantity-selector button {
                 padding: 5px 10px; 
                 margin: 0 5px; 
                 border: none; 
                 border-radius: 4px; 
                 background-color: #338a003b; 
                 color: white; cursor: pointer;
                 } 
                 
                 .quantity-selector button:hover { 
                    background-color: #6161615d; }

                    .quantity-selector {
                        display: flex;
                        align-items: center;
                    }
                    .quantity-selector button {
                        width: 30px;
                        height: 30px;
                        font-size: 20px;
                        cursor: pointer;
                    }
                    .quantity-selector input {
                        width: 50px;
                        text-align: center;
                        font-size: 20px;
                        margin: 0 10px;
                    }

                 
                    .quantity-selector2 button {
                        padding: 5px 10px; 
                        margin: 0 5px; 
                        border: none; 
                        border-radius: 4px; 
                        background-color: rgba(1, 116, 39, 0.925); 
                        color: white; cursor: pointer;
                        } 
                        
                        .quantity-selector2 button:hover { 
                           background-color: #00b300; }
       
                           .quantity-selector2 {
                               display: flex;
                               align-items: center;
                           }
                           .quantity-selector2 button {
                               width: 30px;
                               height: 30px;
                               font-size: 20px;
                               cursor: pointer;
                           }
                           .quantity-selector2 input {
                               width: 50px;
                               text-align: center;
                               font-size: 20px;
                               margin: 0 10px;
                           }
                           
.botao{
    width: 150px;
    background-color: rgba(1, 116, 39, 0.925);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;

}
a {
    color: inherit; /* Usa a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
}
.compras table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.compras th, .compras td {
    border: 1px solid #ddd;
    padding: 8px;
}
.compras th {
    background-color: #d2f5c8;
    text-align: left;
}
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttons-container button, .buttons-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d2f5c8;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}
.buttons-container button:hover, .buttons-container a:hover {
    background-color: #66e26c;
}

                           
       