
.pagamento{
  margin: 05px;
}
.rol{
  background-color: white;
}
.onde{
 background-color: rgb(67, 73, 67);
 padding-left: 10px;
 color: aliceblue;
 font-size: 20px;
}
.form-container {
  background-color: white;
    display: none;
    margin: 10px;
    border: 20px;
    border-color: blue;
    border-radius: 15px;
    padding:10px;
  }
  .op_pagamento{
    background-color: rgb(248, 250, 249);
    display: block;
    border:10px;
    border-color: blue;   

  }
  .form-entrega{
    background-color: rgb(226, 236, 230);
    border: 10px;
    border-color: blue; 
  }
  #qrCode {
    margin: 10px;
    width: 15%;
  }
  #codigoPixContainer {
    margin-top: 10px;
  }
  #copiarCodigoPix {
    cursor: pointer;   
  }
 
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #11b419;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra cinza */
  }
