.rodape {
     /*position: fixed; /* Fixa o rodapé na parte inferior da janela do navegador */
    left: 0;
    bottom: 0;
    width: 100%; /* Garante que o rodapé tenha a largura total da página */
    background-color: #033b10;
    text-align: left;
    padding: 10px 10px;   
    color: azure;   
}
.texto_contato {   
    margin: 0 10px; /* Adiciona uma margem de 10px em todos os lados do texto */
    align-content: center;
    width: 30px;
    width: 50px; /* Ajuste o tamanho do ícone conforme necessário */
    height: auto;    
}
.icone_whats{
    width: 50px; /* Ajuste o tamanho do ícone conforme necessário */
    height: auto;
    margin-right: 10px; /* Adiciona um espaço entre o ícone e o texto */
    vertical-align: middle; /* Alinha o texto ao centro verticalmente em relação à imagem */
   
}


    
    